@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --cells-ui-modal-vcard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;}

  .animate {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .delayed {
    transition-delay: 0.5s;
  }
  
  $over: rgba(0,0,0,0.35);
  $white: #fff;
  $gray: #3b3b3b;
  $blue: #1973B8;
  $green: #2bbbad;
  $red: #DA3851;
  $warn: #F7893B;
  $gray: rgba(0,0,0,0.03);
  $gray2: rgba(0,0,0,0.015);
  $gray3: rgba(0,0,0,0.09);
  
  .close {
    background: #fff;
    border: none;
    color: #666;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 15px 18px;
  
    &:hover {
      background: #eee;
      color: #444;
      @extend .animate
    }
  }
  
  .cells-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    visibility: hidden;
  
    &-overlay {
      position: absolute;
      background: $over;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: 0;
      @extend .animate;
    }
  
    &-content {
      position: absolute;
      z-index: 100;
      background: $white; 
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%,-20%);
      box-shadow: 0 0 13px $over;
      color: #3b3b3b;
      @extend .animate;
    }
  
    &-header {
      background: $white;
      height: 47px;
      padding: 0 20px;
      border-bottom: 1px solid #ddd;
  
      h2 {
        margin: 0;
        color: $blue;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bolder;
        padding: 16px 0;
      }
    }
  
    &-body {
      padding: 20px;
      background: $gray2;
      font-size: 13px;
      line-height: 1.25em;
      overflow-y: auto;
      max-height: 30rem;
    }
  
    &-footer {
      padding: 0 20px 20px;
      background: $gray2;
    }
  
    &.opened {
      z-index: 5000;
      visibility: visible;
  
      .cells-modal-overlay {
        opacity: 1;
        @extend .animate;
      }
  
      .cells-modal-content {
        opacity: 1;
        transform: translate(-50%,-50%);
        @extend .animate;
        @extend .delayed;
      }
    }
  }
  
  .message {
    display: grid;
    padding: 15px 15px 30px;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    .icon {
      text-align: center;
    }
    .text {
      line-height: 1.28rem;
      font-size: 15px;
    }
    &.info cells-icon {
      color: $blue;
    }
    &.warning cells-icon {
      color: $warn;
    }
    &.error cells-icon {
      color: $red;
    }
    &.success cells-icon {
      color: $green;
    }
    bbva-button-default {
      margin: 10px 0;
    }
  }
  
  bbva-button-default {
    --bbva-button-default-min-width: 6.75rem;
    --bbva-button-default-font-size: 0.825rem;
    min-height: 2.4rem;
  }
